  .home{
    background-color: #efefef;
    padding-top: 80px;
    height: calc(100vh - 80px);
    .toolbar{
      transform: translateY(0);
      transition: all 200ms;      
      top:-70px;
      background-color: white;
      height: 69px;
      -box-shadow: 0 2px 3px -1px rgba(0,0,0,.1);
      &.exited {
        transform: translateY(69px);            
      }

      .toolbar-title{
        img.logo{
          width: 60px;
          transform: translateY(-25px);
          margin-top: 25px;
        }
      }
    }
  }

  .user {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    svg {
      width: 30%;
      color: var(--theme-1-primary);            
    }
    h2{
      text-transform: uppercase;
    }
  }
  .document{
    border-radius: 5px;
    background-color: #fff;

    width: calc(100vw - 20px);
    padding: 10px;
  }

  .editor{
    background-color: #fff!important;
    padding: 15px;
    text-align: left;
  }
